/* global vars */
:root {
	--black: #000000;
	--white: #FFFFFF;
	--light-gray: #F5F5F5;
	--neon-green: #DCF763;
	--orange: #E9602A;
	--navy: #00347D;
	--banana: #F4E409;
	--forest-green: #060;
}

body {
	background-color: var(--light-gray);
	text-align: center;
}

.highlight-green {
    background-color: var(--neon-green);
}

.highlightext {
    color: var(--white);
    background-color: var(--forest-green);
    font-size: 14px;
}

a {
	color: var(--black);
}

a:hover {
	color: var(--light-gray);
	background-color: var(--orange);
}