:root {
	--black: #000000;
	--light-gray: #F5F5F4;
	--header-font: 'Abril Fatface', cursive;
	--body-font: 'Raleway', sans-serif;
}

body {
	background-color: var(--light-gray);
	height: 100vh;
}

/* header */

header {
	display: grid;
	grid-template-columns: 35% 65%;
}

#intro {
	grid-column: 2 / 3;
	border-left: 3px solid var(--black);
	padding-left: 1rem;
	margin-top: 50vh;
}

#name {
	font-family: var(--header-font);
	font-size: 4rem;
	font-weight: 400;
	margin: 0;
}

#summary {
	font-family: var(--body-font);
}
