/* General formatting */
body {
	font-family:;
	font-size:;
	color:;
	background-color: ;
}

h3 {
	text-align: center;
}

.wideimage {
	width: 100%;
	z-index: 0;
}

.graybackground {
	width:800px;
	margin: 20px auto;
	padding: 30px;
	background-color: #fafafa;
}

.centerdiv{
	text-align: center;
}

/* Resume page */

div ul li {
	float: left;
}

/* About me page */

#my_photo {
	display: block;
	height: 400px;
	margin: 20px auto 30px auto;
}

#hello {
	font-size: 35px;
	font-weight: bold;
	color: #787878;
}



